<p>Hola <%= user.name %>!</p>
<p><b><%= client.name %></b> está solicitando acceso a su cuenta.</p>
<p>ha sido aprobado?</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
  <div>
    <input type="submit" value="Allow" id="allow" />
    <input type="submit" value="Deny" name="cancel" id="deny" />
  </div>
</form>
